@import url('https://fonts.googleapis.com/css?family=Carrois+Gothic+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:700&display=swap');

.bosses-preview {
    height: auto;
    width: 100%;
    background: black;
    font-family: 'Carrois Gothic SC', sans-serif;
    color: white;
    .boss-preview-cards {
        padding-top: 70px;
        padding-bottom: 100px;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        div {
            width: 40%;
            height: 45%;
            min-width: 80%;
            overflow: hidden;
            margin: 10px;
            align-self: flex-start;
            text-align: center;
            transition: 1s;
            img {
                max-width: 120%;
                height: auto;
                transition: 1s;
            }
        }
        .boss-preview-avatar:hover {
            width: 42%;
        }
        .boss-preview-title {
            a {
                font-family: 'Roboto Slab', serif;
                font-style: italic;
                font-size: 50px;
                color: rgb(223, 199, 149);
                text-decoration: none;
            }
        }
        .boss-preview-text {
            border-top: 3px rgb(223, 199, 149) solid;
            padding-bottom: 20px;
            
            
            .boss-preview-title-nested {
                display: none;
            }
            #nestedBossesPreviewMoreButton {        
                width: 100%;
                margin: 0;
                justify-content: center;
                a {
                    text-decoration: none;
                    div {
                        width: auto;
                        font-size: 15px;
                        color: rgb(112, 24, 24);
                        padding: 20px;
                        margin: 5px;  
                        transition: 1s;         
                    }
                    div:hover {
                        font-size: 20px;
                        background: gray;
                        color: rgb(182, 0, 0);
                    }
            }
       }
            
        }
    }
}

@media screen and (min-width: 780px) {
    .bosses-preview {
        .boss-preview-cards {
            flex-direction: row;
            justify-content: center;
            div {
                min-width: 40%;
            }
            #bossPreviewAvatar0 {order: 0}
            #bossPreviewText0 {order: 1}
            #bossPreviewAvatar1 {order: 3}
            #bossPreviewText1 {order: 2}
            #bossPreviewAvatar2 {order: 4}
            #bossPreviewText2 {order: 5}
            .boss-preview-title {
                display: none;
              }
            .boss-preview-avatar {
                align-self: center;
            }
            .boss-preview-text {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                border: none;
                align-self: center;
                .boss-preview-title-nested {
                    display: block;
                    width: 100%;
                    a {
                        text-decoration: none;
                        font-family: 'Roboto Slab', serif;
                        font-style: italic;
                        font-size: 50px;
                        color: rgb(102, 32, 32);
                        text-decoration: none;
                        transition: 1s;
                    }
                }
                .boss-preview-title-nested:hover {
                    a {
                        color: rgb(192, 252, 255);
                    }
                }
                
} } } }