.bosses-preview {
    height: auto;
    width: 100%;
    background: rgb(0, 0, 0);
    .boss-preview-cards {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        background: red;
        div {
            width: 40%;
            height: 45%;
            min-width: 300px;
            background-color: gray;
            overflow: hidden;
            margin: 10px;
            align-self: flex-start;
            img {
                max-width: 120%;
                height: auto;

            }
        }
    }
}