.comment-submit-form {

}

.comments {
    width: 100%;
    // height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .break {
        width: 100%;
    }
    .comment {
        background: red;
        min-height: 150px;
        // height: auto;
        width: 100%;
        display: flex;
        // flex-wrap: wrap;
        justify-content: flex-start;
        margin-top: 10px;
        padding-top: 10px;
        overflow: hidden;

        .user-info {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
            max-width: 28%;
            min-width: 28%;
            height: 100%;
            background: yellow;
            .display-name {
    
            }
            .break {
                width: 100%;
                background: white;
                height: 10px;
            }
            .avatar {
                margin-top: 10px;
                width: 60px;
                height: 60px;
                border-radius: 50%;
                overflow: hidden;
                img {
                    max-width: 60px;           
                }
            }
        }
        .comment-text {
            max-width: 70%;
            // padding: 10px;
            margin: 10px;
            background: green;
            line-height: 25px;
            p {
                word-break: break-all
            }
        }
    }
}