@import url('https://fonts.googleapis.com/css?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css?family=Carrois+Gothic+SC&display=swap');

.comments {
    background: black;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    form {
        display: flex;
        justify-content: center;
        background: white;
        width: 100%;
        padding-bottom: 20px;
        padding-left: 10px;
        div {
            width: 70%;
        }
        button {
            background-color: rgb(223, 199, 149);
            min-height: 60px;
            min-width: 120px;
            font-family: 'Carrois Gothic SC', sans-serif;
        }
    }
    .break {
        width: 100%;
    }
    .comment {
        min-height: 150px;
        height: auto;
        width: 100%;
        min-width: 90vw;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        margin-top: 30px;
        padding-top: 10px;
        overflow: hidden;

        .user-info {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
            max-width: 30%;
            min-width: 10%;
            height: 100%;
            // background: yellow;
            .display-name {
                color: rgb(223, 199, 149);
                font-family: 'Carrois Gothic SC', sans-serif;
                font-size: 20px;
            }
            .break {
                width: 100%;
                // background: white;
                height: 10px;
            }
            .avatar {
                margin-top: 10px;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                border: 2px white solid;
                overflow: hidden;
                img {
                    max-width: 80px;           
                }
            }
        }
        .comment-text {
            width: 100%;
            // padding: 10px;
            margin: 10px;
            background: rgba(255, 255, 255);
            line-height: 25px;
            p {
                word-break: break-all;
                margin: 10px;
                font-family: 'EB Garamond', serif;
            }
        }
    }
}