@import url('https://fonts.googleapis.com/css?family=EB+Garamond&display=swap');

.CTA {
    height: 300px;
    width: 100%;
    background: url("https://i.imgur.com/2IdQEAg.jpg") center center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    #bossesPreviewMoreButton {
        a {
            text-decoration: none;
            div {   
                background: rgb(194, 194, 194, 0.8);
                font-family: 'EB Garamond', serif;
                font-size: 40px;
                color: rgb(223, 199, 149);
                text-decoration: none;
                padding: 30px;
                margin: 80px;  
                transition: 1s;         
            }
            div:hover {
                background: white;
                font-size: 50px;
            }
        }
    }
}
