#footer {
    height: auto;
    width: auto;
    display: flex;
    justify-items: flex-end;
    justify-content: center;
    align-items: baseline;
    background: black;
    flex-wrap: wrap;
        img {
            width: 40%;
        }
        a {
            display: flex;
            justify-content: center;
            width: 100%;
            img {
                width: 8%;
                justify-self: center;
                margin-bottom: 50px;
            }
        }
}

@media screen and (min-width: 780px) {
    #footer {
            img {
                width: 30%;
            }
            a {
                img {
                    width: 4%;
                }
            }
    }
}