#nav {
    background: gray;
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: flex-end;
        li {
            margin: 10px;
        }
    }
}
