@import url('https://fonts.googleapis.com/css?family=Carrois+Gothic+SC&display=swap');


#nav {
    box-shadow: 0px 13px 40px -13px rgba(0,0,0,0.9);
    background-color: rgba(0,0,0,.6);
    display: flex;
    justify-content: space-around;
    align-items: center; 
    color: rgb(255, 255, 255);
    font-size: 10px;
    font-family: 'Carrois Gothic SC', sans-serif;
    min-height: 15vh;
    width: 100%;
    #burger {
        div {
            width: 25px;
            height: 3px;
            background-color: white;
            margin: 5px;
            cursor: pointer;
        }
    }
    #nav-links {
        display: none;
    }
    .nav-disabled {
        display: none;
    }
    .nav-links-mobile {
        position: absolute;
        height: 30vh;
        top: 15vh;
        background-color: rgba(0,0,0, 0.6);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        transition: 1s;
        li {
            padding: 20px;
            transition: 1s;
            width: 100%;
            text-align: center;
            background: rgb(194, 194, 194, 0.6);
            a {
                color: rgb(112, 24, 24);
                text-decoration: none;
            }
        }
        li:hover {
            background-color: white;
        }
    }
}

@media screen and (min-width: 780px) {

    #nav {
        #nav-links {
            display: flex;
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: space-around;
            width: 20%;
            li {
                padding: 20px;
                a {
                    color: rgb(255, 255, 255);
                    text-decoration: none;
                }
                }
            }
            #burger {
                display: none;
            }
            #nav-links-mobile {
                display: none;
            }
        }
    }