@import url('https://fonts.googleapis.com/css?family=Carrois+Gothic+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond&display=swap');

#profile {
    width: 100%;
    height: 100vh;
    background: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    #profileUI {
        margin-top: 50px;
        width: 90%;
        height: auto;
        background: white;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
        .break {
            width: 100%;
            height: 5px;
        }
        h2 {
            font-family: 'EB Garamond', serif;
            font-size: 30px;
            margin-bottom: 20px;
            color: black;
            // color: rgb(255, 255, 255); 
            // padding-top: 40px;
        }
        .avatar {
            margin-bottom: 20px;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            border: 2px rgb(223, 199, 149) solid;
            overflow: hidden;
            img {
                max-width: 150px;           
            }
        }
        button {
            background-color: rgb(223, 199, 149);
            min-height: 60px;
            min-width: 120px;
            font-family: 'Carrois Gothic SC', sans-serif;
        }
        form {
            margin: 10px;
        }
    }
}